<!-- <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">Cover</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/todo">Today</a>
            <a class="nav-link fw-bold py-1 px-0" href="/my-lists">Lists</a>
            <a class="nav-link fw-bold py-1 px-0" href="/account">Account</a>
            <form action="/logout" method="post">
                <input type="submit" name="Logout" value="Logout" onChange="this.form.submit()">
            </form>
        </nav>
      </div>
    </header> -->